/* .dashboard-menu */

/* $dark_blue: #0055A1; */
$dark_blue: #2B5920;

.section-home #home a,
.section-news #news-1 a,
.section-reservation-list #reservation a,
.section-availability #availability a,
.section-contacts #contacts a,
.section-profile #profile a {
  border-top: 2px solid #fff;
  background: rgba(255, 255, 255, .1);
}

/* global */
body.Dashboard {
  background: -moz-linear-gradient(top, #fff -30%, rgba(121, 150, 181, 1) 125%);
  background: -webkit-gradient(bottom top, right top, color-stop(-30%, #fff), color-stop(125%, rgba(121, 150, 181, 1)));
  background: -webkit-linear-gradient(bottom, #fff -30%, rgba(121, 150, 181, 1) 125%);
  background: -o-linear-gradient(bottom, #fff -30%, rgba(121, 150, 181, 1) 125%);
  background: -ms-linear-gradient(bottom, #fff -30%, rgba(121, 150, 181, 1) 125%);
  background: linear-gradient(to bottom, #fff 70%, rgba(121, 150, 181, 1) 125%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0097d2', endColorstr='#00b0a1', GradientType=1 );
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
}

.absolute-center {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}

.clear-both {
  clear: both;
}

.blurred-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

body.logged-in {
  margin-top: 0px !important;
}

.msg-box {
  position: absolute;
  top: 35px;
  width: 100%;
}

.move {
  cursor: move;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.copy {
  font-size: 14px;
}

.copy > h5 {
  color: $dark_blue;
}

.uppercase {
 text-transform: uppercase;
}

/* topbar */
.top-bar {
  position: fixed;
  top: 0px;
  z-index: 50;
  width: 100%;
  height: 35px;
  padding: 0px;
  margin: 0px;
  background: #3c3c3c; /* Old browsers */

  img {
    position: relative;
    top: 2px;
    margin-right: 40px;
    width: 30px;
  }

 .hamburger {
    position: relative;
    top: -30px;
    margin-left: 35px;
    cursor: pointer;
    border-left: 3px solid #3c3c3c;
    padding-left: 20px;

    li {
      width: 30px;
      height: 3px;
      margin-top: 5px;
      margin-bottom: 5px;
      background: #fff;
      list-style: none;
    }
  }
}

.st-pusher {
  position: absolute;
  top: 0px;
  width: 100%;
}

/* page title */
.page-title-container {
  position: fixed;
  overflow: hidden;
  z-index: 11;

  .parent-page {
    margin-top: 35px;
    padding: 11px 40px;
    background: $dark_blue;
  }

  b {
    font-size: 24px;
    color: #fff;
    letter-spacing: 1px;
  }

  .current-page {
    position: relative;
    width: 1366px;
    height: 70px;
    overflow: hidden;

  .b-container {
    position: relative;
    padding-top: 20px;
    left: 150px;
    width: 350px;
    text-align: center;
  }

  b {
    position: relative;
    font-size: 22px;
    color: $dark_blue;
    z-index: 10;
  }

  .curve {
    position: absolute;
    top: -30px;
    left: 0px;
    width: 100%;
   }
  }
}

/* login page */
.login-form {
  .content {
   position: absolute;
   width: 100%;
   margin-top: 10%;
  }

  .fields {
    background: #fff;
    padding: 25px 25px 25px 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 25px #444;
  }

  form {
   padding-top: 10px;
  }

  button {
    padding: 10px 25px !important;
    color: #fff !important;
    font-size: 12px !important;
    text-transform: uppercase;
    box-shadow: 0px;
    border: 0px !important;
    background: #0076a3 !important;
  }

  input {
    border-radius: 3px;
    box-shadow: none !important;
    margin: 0px 0px 0px 0px !important;
  }

  li {
    padding: 5px 20px;
    padding-bottom: 10px;
    float: left;
    list-style: none;
    text-align: center;
  }

  li a {
    color: #000;
    font-size: 11px;
  }

  .bottom-links {
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 25px #444;
    background: #fff;
  }
}

/* selection page */
.selection-page  {
  .absolute-center {
    width: 100%;
    height: 60%;
  }

  .selection {
    padding: 30px 30px;
    text-align: center;
  }
}

/* page content */
.page-content {
  margin-top: -70px;
  color: #555;

  .row {
    max-width: 100% !important;
  }

  .columns {
    padding: 0px;
  }

  .middle {
    .left-side {
      img {
        width: 100%;
      }
    }

    .right-side {
      .copy {
        padding: 50px 50px;
        line-height: 20px;

        li {
         list-style: none;
         margin-bottom: 20px;
        }
      }
    }
  }

  .bottom {
    position: relative;
    padding: 25px;
    background: #fff;
    /*box-shadow: 0px 0px 5px #666;*/
    z-index: 10;

    .masonry {
      margin: .5em .5;
      padding: 0;
      -moz-column-gap: .5em;
      -webkit-column-gap: .5em;
      column-gap: .5em;
      font-size: .85em;
    }

    img {
      margin-bottom: 8px;
    }

    .item {
      display: inline-block;
      background: #fff;
      margin: .3em 0em;
      width: 100%;
    }

    .item img {
      width: 100%;
    }

    .title {
     margin-bottom: 10px;
     font-size: 20px;
     color: $dark_blue;
    }

    .curve {
      position: absolute;
      top: -90px;
      left: 0px;
      width: 100%;
    }

    .copy {
      padding: 20px 35px;
      line-height: 20px;
    }
  }
}

/* property selection */

.property-selection {
  .masonry {
    margin: .5em .5;
    padding: 0;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em;
    column-gap: .5em;
    font-size: .85em;
  }

  .item {
    position: relative;
    display: inline-block;
    background: #fff;
    margin: .3em 0em;
    width: 100%;
    background: #000;

    img {
      width: 100%;
    }

    .description {
      position: absolute;
      padding: 15px 15px;
      color: #fff;
      bottom: 0px;
      z-index: 10;
      background: rgba(0, 0, 0, 0.55);

     .title {
       margin-bottom: 15px;
       font-weight: bold;
       letter-spacing: 1px;
       text-transform: uppercase;
     }

     .copy {
       font-size: 12px;
       line-height: 15px;
      }
    }
  }
}

.project-information {
  margin-top: -70px;

  .slider {
    width: 100%;
    height: 300px;
  }

  .slideshow {
    background: #ccc;
    height: 450px;
  }

  .window {
    .subtitle {
      padding: 20px;
      color: $dark_blue;
    }

    .info {
       color: #555;
       font-size: 12px;
       padding: 0 25px;
       font-weight: bold !important;
       line-height: 22px !important;

       p {
         font-weight: bold !important;
         margin-bottom: 10px;
       }

      .copy.paragraph {
        line-height: 24px;
      }

      .project-logo {
        width: 30%;
      }

      ul {
        margin-left: 20px;

        div {
          margin-left: -30px;
        }
      }

      .item {
        margin: 5px;
        float: left;
      }
    }

    .drop-down {
      width: 100%;
      padding: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      background: #ccc;
    }
  }

  .swiper-pagination2 {
    position: absolute;
    margin-top: -25px;
    margin-left: 10px;
    z-index: 100;

    span {
      margin-left: 5px;
      margin-right: 5px;
      width: 15px;
      height: 15px;
      box-shadow: 1px 1px 3px #444;
    }
  }

  .fixed-item {
    float: left;
    margin: .5%;
    width: 10%;
  }

  .fixed-item:nth-child(1),
  .fixed-item:nth-child(3) {
    margin-top: -30px;
  }

  .fixed-item:last-child img {
    padding-top: 30%;
  }

  .first-slide {
    li {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .title {
      color: $dark_blue;
    }

    .copy {
      margin-top: 100px !important;
    }
  }
}

.bpc {
 .select-computation {
   margin-top: 15px;
   margin-bottom: 15px;
   .columns {
     background: #fee;
     padding: 10px;
     text-align: center;
     /*margin: 1%;*/
     width: 50%;
     font-size: 12px;
     cursor: pointer;
     opacity: .5;
   }

   .active {
     opacity: 1;
   }
 }
  table {
    width: 100%;
    /*table-layout: fixed;*/
  }

  table .label {
    padding: 1em;
    text-align: right;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    background: none;
    display: block;
  }

  table .highlight {
   font-size: 12px;
    text-transform: uppercase;
  }

  table .underline {
    border-bottom-width: 1px;
    border-color: #000;
    border-bottom-style: double;
  }

  table thead th {
    text-align: right;
  }

  table tr td:nth-child(3) {
    text-align: right;
  }

  table tr td:nth-child(3) {
    text-align: left;
  }

  .calc {
    display: none;
  }

  .calc td {
    text-align: right;
  }

  select {
    margin-bottom: 0px;
    font-size: 12px;
    padding: 5px 10px;
  }

  .important {
    display: none;
    padding-right: 15px;
    padding-left: 15px;

    .columns {
     padding-top: 15px !important;
       background: #fff;
       padding: 0px 40px;
    }

    ol > li {
      list-style-type: lower-alpha;
    }
  }

  .child {
    margin: 15px;
  }

  margin-top: 175px;
}

$one_br: #1ccdab;
$two_br: #3498db;
$three_br: #34495e;
$stairs: #cccccc;

.bldg {
  .available-units {
    display: none;
    td {
      padding-top: 17px;
      padding-bottom: 17px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .tile {
    float: left;
    margin: 1px 5px;
  }

  .room.one-br {
    width: 35px;
  }

  .room > span {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding-right: 5px;
  }

  .room > .stat,
  .room > .stat2 {
    position: absolute;
    right: 4px;
    bottom: 2px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .type.one-br .color,
  .room.one-br,
  tr.one-br {
    background: $one_br;
  }

  .type.two-br .color,
  .room.two-br,
  tr.two-br {
    background: $two_br;
  }

  .type.three-br .color,
  .room.three-br,
  tr.three-br {
    background: $three_br;
  }

  .type.stairs .color,
  .room.stairs {
    background: $stairs;
  }

  .available {
    span,
    .stat2 {
      color: #fff !important;
    }
  }

  .room {
    position: relative;
    width: 80px;
    height: 115px;
    text-align: right;
    cursor: pointer;
    span,
    .stat2 {
      color: red;
    }
  }

  .reserved {
    opacity: 0.50;
  }

  .legend {
    font-size: 12px;
    text-transform: uppercase;
    .color {
      position: absolute;
      width: 15px;
      height: 15px;
    }

    b {
      margin-left: 25px;
    }

    .type {
      margin: 10px 0px;
    }
  }

  .hallway {
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
  }

  .text-center {
    line-height: 20px;

    div {
     font-size: 12px;
     font-weight: bold;
    }
  }

  select {
    font-size: 12px !important;
    padding: 5px 10px;
    margin-top: 10px;
  }

  .facing {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 15px;
  }

  .parking {
    background: #ccc;
  }

  .tower-label {
    text-transform: uppercase;
  }
}

.table-units,
.table-back {
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 12px;
}

.table-units {
  width: 100%;
}

.table-back {
  width: 125px;
}

#myModalParking tr.available td {
  color: #000;
}

/* single contact */
.contacts {
   position: relative;
   margin-top: 10px;

   a {
     color: #000 !important;
   }

   .contact-info .profile-logo {
     position: absolute;
     bottom: 25px;
     width: 185px;
   }

  .field.row {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }

  .field .lab {
    float: left;
    width: 65px;
  }

  .field {
    margin: 10px !important;
  }

  .letters {
    position: relative;
    left: 20px;
    margin: 25px 0px;
  }

  .letters li {
    float: left;
    list-style: none;
    margin: 0px 13.3px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .contact-info {
    background: #fff;
    padding: 20px;
    border: 5px solid #ccc;
  }

  .choice {
    margin-top: -35px;
    margin-left: 35px;
  }

  a.button {
    padding: 10px 25px;
    color: #000;
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px;
    border: 0px;
    background: #fff;
    border: 2px solid #ccc;
  }

  a.button.back {
    margin-top: 15px;
  }
}

/* contacts */
.contact-container {
  overflow-y: scroll;
  height: 475px;

  /*.contact .columns {
    padding: 0px;
  }*/

  .contact .border {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px 35px;
    background: #fff;
  }

  .border .right {
    padding-top: 15px;
    font-size: 14px;
  }
}
/* News */
.articles {
  overflow-y: scroll;
  height: 500px;
  color: #000;
}

.featured-article > .title,
.notification > .title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 2px;
}

.read-more  {
  padding: 10px !important;
}

article:first-child {
  margin-top: 0px !important;
}

article:last-child {
  margin-bottom: 0px !important;
}

article {
  margin: 15px auto !important;
  background: #fff;
  box-shadow: 1px 1px 6px #ccc;
  border-radius: 3px;
}

article .columns {
  padding: 0px;
}

article .title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}

article .date {
  margin: 12px auto;
  color: #0055A1;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

article .excerpt {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
}

article .image {
  width: 100%;
  height: 210px;
  border-radius: 3px 0px 0px 3px;
}

article .button {
  position: absolute;
  bottom: -45px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 0px;
  background: $dark_blue;
}

.notification ul {
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 5px #ccc;
}

.notification li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  font-size: 12px;
  color: #000 !important;
}

.notification .button {
  margin-top: 25px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 0px;
  background: $dark_blue;
}

.updates {
  margin-top: 40px;
  padding-left: 0px;
}

.updates .title {
  margin-bottom: 5px;
  font-size: 13px;
}

.updates .columns {
  padding: 0px;
  padding-right: 5px;
}

.updates .large-12 {
  width: 100%;
  height: 125px;
  margin-bottom: 5px !important;
}

/* dashboard menu */
.dashboard-menu {
  position: fixed;
  top: 35px;
  width: 100%;
  z-index: 10;
  padding-top: 35px;
  padding-left: 35px;
  background: $dark_blue;
}

.dashboard-menu ul {
  margin: 0px;
}

.dashboard-menu li {
  margin: 5px 5px 0px 5px;
  float: left;
  list-style: none;
}

.dashboard-menu li a {
  /*width: 125px;*/
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.dashboard-menu li a.active {
  border-top: 2px solid #fff;
  background: rgba(255, 255, 255, .1);
}

.dashboard-menu .profile-name img {
  margin-top: -25px;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.dashboard-menu .profile-name .name {
  margin-top: -15px;
  color: #fff;
  font-size: 12px;
  text-align: right;
}

.dashboard-menu .profile-name .name > div {
  font-size: 8px;
}

/* reservation */
.reservation {
  padding: 0px 25px;
}

.reservation form {
  margin-top: 50px;
}

.reservation .address {
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
}

.swiper-pagination2 {
  position: relative;
  top: -30px;
  left: 10px;
  z-index: 10;
}

.swiper-pagination2 span {
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  box-shadow: 1px 1px 3px #444;
}

.reservation .form-item:first-child label,
.address-title {
  color: #0055A1;
  font-size: 18px;
  font-style: italic;
}

.reservation .form-item:first-child input {
  visibility: hidden;
}

.reservation label {
  position: absolute;
  width: 30%;
  text-align: right;
  color: #0055A1;
}

.reservation .form-item {
  margin-top: 11px;
  margin-bottom: 11px;
}

.reservation .form-textarea-wrapper {
  display: inline !important;
}

.reservation .form-textarea {
  height: 100px !important;
}

.reservation .form-select,
.reservation .form-text,
.reservation .form-textarea {
  position: relative;
  left: 32%;
  width: 68%;
  display: inline;
  box-shadow: none !important;
  height: 25px;
}

.reservation input[type="text"] {
  margin: 0px 0px 0px 0px;
}

.slider-map center {
  color: rgb(33, 144, 49);
}

.form-submit {
  position: relative;
  left: 32%;
  margin-top: 15px;
  background: #fff !important;
  color: #000 !important;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 1px;
}

/* reservation list */
.reservation-list {
  margin-top: 25px;
  border: 3px solid #ccc;
  background: #fff;

  table {
    border: 0px;
    text-transform: uppercase;
  }

  thead {
    background: #fff;
    border: 0px;

    th {
      border: 0px;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 12px;
      color: #000;
    }
  }

  tr {
    background: #fff !important;
    border-bottom: 1px solid #ccc;
  }

  tbody {
   border: 3px solid #ccc;
    td {
      line-height: 2.125em;
      font-size: 12px;
      color: #000;
    }
  }
}

.approval select {
  padding: 13px;
  font-size: 12px;
}

.approval button {
  font-size: 12px;
  padding: 14px;
}

.swiper-container-3 {
  overflow: hidden;
  margin-top: 75px;
}

.swiper-container-3 .swiper-slide {
  width: 225px !important;
  position: relative;
  background: #ccc;
  height: 400px;
}

.swiper-container-3 .logo {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: rgba(0,0,0,0.75);

  color: #fff;
  text-transform: uppercase;
  padding: 20px 0px;
  font-size: 14px;
  font-weight: bold;
}

.swiper-container-3 .logo img {
  width: 50%;
}

.myModal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.units {
  padding: 15px;
  background: #fff;
}

.units .large-4 {
  padding: 15px;
}

/*
.units .lft {
  border-right: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}

.units .mid {
  border-bottom: 3px solid #ccc;
}

.units .rht {
  border-left: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}
*/

.units .stat {
  border: 2px solid #7c7c7c;
  width: 60%;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-top: -5px;
}

.units .reserved .stat {
  color: #fff;
  background: #007C39;
  border: 2px solid #007C39;
}

.units .sold .stat {
  color: #fff;
  background: #7c7c7c;
}

.units .header {
  font-weight: bold;
}

.units .header .right {
  position: relative;
  left: -25px;
}

.units .bldg {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 3px solid #ccc;
}

.availability-room {
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.1);
  max-width: 95%;
  margin-top: 25px;
  overflow-y: scroll;
  height: 525px;
}

.availability-room .floor-plan-bg {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.availability-room .floor-plan .image {
}

.availability-room .title {
  text-align: center;
  line-height: 20px;
}

.availability-room .title .uppercase {
  letter-spacing: 1px;
}

.availability-room .title .copy:last-child {
  margin-top: 20px;
  font-size: 12px;
}

.availability-room table tr {
  background: #fff;
}

.availability-room table,
.availability-room tbody {
  border: 0px;
}

.availability-room tr td:first-child {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.availability-room tr td:last-child {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.availability-room tr:last-child {
  border-top: 3px solid #000;
}

.availability-room li {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.availability-room .bottom-p {
  padding: 15px;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
}

.availability-room .bottom-p > div {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.availability-room .logo {
  padding-top: 12px;
}

/* thank you */
.section-thank-you .page-title-container {
  display: none;
}

.section-thank-you .login-form {
  padding: 100px 25px;
  top: 200px;
  z-index: 10;
  color: #fff;
  font-size: 28px;
  border-radius: 5px;
  background: rgb(14, 65, 246);
}

.section-thank-you .home-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  opacity: .5;
  cursor: pointer;
  overflow: hidden;
}

.search-container {
  position: fixed;
  right: 50px;
  bottom: 0px;
  width: 300px;
  overflow: hidden;
}

.search-overflow {
  position: relative;
  top: 0px;
}

.search-container .form-search {
  margin-bottom: 0px;
  padding: 20px !important;
  display: none;
}

.search {
  padding: 10px;
  width: 50px;
  bottom: 0px;
  right: 60px;
  float: right;
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}

.search img {
  opacity: .70;
}

/* History */
.section-history .swiper-wrapper {
  height: 65% !important;
}

.section-history .swiper-container {
  height: 45%;
}

.sheet ul:first-child > li:first-child {
  list-style: none !important;
}

.columns {
  color: #000 !important;
}

.node-type-article .over {
  padding: 25px;
}

.node-type-article .b-container {
  display: none;
}

li {
  margin-bottom: 0px !important;
}

.st-menu {
  overflow-y: scroll;
}

.st-menu-ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.reservation {
  padding: 0px !important;
}

.sidemenu {
  display: block;
}

.sidemenu.role5 {
  display: none !important;
}

body.logged-in.Dashboard .main-content {
  margin-top: 120px;
}

body.logged-in .main-content {
  margin-top: 150px;
}

.not-logged-in .hamburger {
  display: none;
}

.front.logged-in .over,
.front.not-logged-in .over {
  margin-top: -150px;
  height: 100%;
}

.front.not-logged-in .over {
  margin-top: 0px;
}

.not-logged-in .over {
  margin-top: 0px;
}

.Dashboard .over {
  position: relative;
  /*height: 100%;*/
  overflow: hidden;
}

.bpc .over {
  height: auto !important;
  overflow: visible !important;
}

select option {
  color: #000 !important;
  font-family: 'Arial' !important;
}

/* media queries */
@media screen and (max-width: 900px) {

  .not-front .main-content {
    margin-top: 40px;
  }

  .dashboard-menu {
    padding-top: 0px;
  }

  .dashboard-menu li a {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
  }

  .profile-name {
    position: relative;
    top: 30px;
    right: 25px;
  }

  .profile-name img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .selection-page {
    .absolute-center {
      width: 45%;
      height: 90%;
   }
 }

  .selection {
    padding: 0px !important;
    margin-top: 30px;
  }

  .section-availability .header:nth-child(2),
  .section-availability .header:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .selection-page {
   .absolute-center {
     width: 50%;
     height: 80%;
    }
  }
}

@media only screen and (min-width: 400px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 700px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 900px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media only screen and (min-width: 1100px) {

  .property-selection {
    .masonry {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
    }
  }

  .masonry {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }

  .info .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (max-width: 768px) {
  .notification ul {
    width: 100%;
    padding-bottom: 90px;
  }

  .articles {
    overflow: visible !important;
  }

  article .button {
    position: relative !important;
    bottom: -15px !important;
  }

  .updates {
    padding-left: 18px !important;

    .title {
      font-size: 18px;
      text-align: center;
    }
  }

  .letters {
    display: none;
  }

  .contact > .columns {
    margin: 5px 20px !important;
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .contact .large-8 {
    width: 70%;
  }

  .contact .large-4 {
    width: 30%;
  }

  .contact-container {
    overflow: visible;
    height: 100%;
  }

  .contacts .choice {
    margin-top: 0px;
    margin-left: 0px;
  }

  .contacts button.back {
   margin-top: 0px;
  }

  .contacts .contact-info {
    padding: 20px 0px;
  }

  .contact-info .profile-logo {
     position: relative !important;
     top: -10px;
     width: 185px;
   }
}

@media only screen and (max-width: 1025px) {
  .Dashboard .st-pusher {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1260px;
  }
}

@media only screen and (max-width: 966px) {

  .reveal-modal {
    left: 0%;
    margin-left: 0%;
    width: 100%;
  }

  .bldg .room {
    width: 71px;
  }

}
